<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showdata</title>
</head>
<body style="background-color: azure;">
    <center><h1>Welcome to Database Project</h1></center>
    <hr>
    <center><h2>Show All Data</h2></center>
    <hr>
    <!-- {{data}} -->
    <!-- {% for i in data %}
    {{i.id}}
    {{i.firstname}}
    {{i.lastname}}
    {{i.email}}
    {{i.dob}}
    {{i.mobile}}
    {% endfor %} -->


    <table border="2" align="center">
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Mobile</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.mobile}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>