<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body style="background-color: azure;">
    <center><h1>Update your data!</h1></center>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="firstname" value="{{userid.firstname}}" placeholder="Firstname"><br><br>
        <input type="text" name="lastname" value="{{userid.lastname}}" placeholder="Lastname"><br><br>
        <input type="email" name="email" value="{{userid.email}}" placeholder="Email"><br><br>
        <input type="date" name="dob" value="{{userid.dob | date:'Y-m-d'}}"><br><br>
        <input type="number" name="mobile" value="{{userid.mobile}}" placeholder="Mobile"><br><br>
        <input type="submit" value="Update">
    </form>
    <hr>
    <a href="/showdata">Showdata</a>
</body>
</html>